In [10]:
import pandas as pd

In [11]:
# Get the training features (X)
df_features_train = pd.read_csv("./files/train_inputs.csv")
df_features_train.head()

,0.000000000000000000e+00,0.000000000000000000e+00.1,1.000000000000000000e+01,0.000000000000000000e+00.2,1.400000000000000000e+01,2.000000000000000000e+00,0.000000000000000000e+00.3,0.000000000000000000e+00.4,4.000000000000000000e+00,2.000000000000000000e+00.1,...,0.000000000000000000e+00.24,0.000000000000000000e+00.25,0.000000000000000000e+00.26,2.000000000000000000e+00.9,2.000000000000000000e+00.10,0.000000000000000000e+00.27,3.000000000000000000e+00.1,7.000000000000000000e+00.1,2.000000000000000000e+00.11,2.000000000000000000e+00.12
0,0.0,0.0,9.0,16.0,16.0,16.0,0.0,1.0,0.0,0.0,...,4.0,0.0,4.0,0.0,14.0,13.0,9.0,4.0,0.0,14.0
1,10.0,15.0,16.0,10.0,16.0,16.0,0.0,1.0,16.0,12.0,...,16.0,16.0,1.0,16.0,16.0,7.0,14.0,14.0,16.0,1.0
2,1.0,2.0,0.0,6.0,0.0,2.0,1.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0
3,2.0,7.0,0.0,14.0,16.0,0.0,0.0,1.0,0.0,1.0,...,15.0,0.0,0.0,3.0,1.0,7.0,0.0,8.0,0.0,1.0
4,2.0,0.0,0.0,12.0,12.0,2.0,0.0,0.0,1.0,3.0,...,1.0,0.0,0.0,0.0,1.0,15.0,14.0,15.0,15.0,0.0

In [12]:
# get the training target (Y)
df_target_train = pd.read_csv("./files/train_labels.csv")
df_target_train.head()

   6.000000000000000000e+00
0                       5.0
1                       6.0
2                       5.0
3                       6.0
4                       6.0

In [13]:
# get the testing features
df_features_test = pd.read_csv("./files/test_inputs.csv")
df_features_test.head()

,1.000000000000000000e+00,1.000000000000000000e+00.1,0.000000000000000000e+00,3.000000000000000000e+00,1.200000000000000000e+01,1.200000000000000000e+01.1,2.000000000000000000e+00,1.000000000000000000e+00.2,2.000000000000000000e+00.1,8.000000000000000000e+00,...,1.600000000000000000e+01,0.000000000000000000e+00.10,1.000000000000000000e+00.6,0.000000000000000000e+00.11,4.000000000000000000e+00.5,0.000000000000000000e+00.12,1.300000000000000000e+01.1,1.000000000000000000e+00.7,1.300000000000000000e+01.2,0.000000000000000000e+00.13
0,2.0,2.0,2.0,1.0,2.0,8.0,0.0,2.0,0.0,1.0,...,15.0,2.0,0.0,0.0,1.0,0.0,0.0,12.0,12.0,0.0
1,16.0,12.0,5.0,16.0,14.0,14.0,15.0,16.0,16.0,14.0,...,13.0,16.0,16.0,15.0,16.0,16.0,15.0,16.0,16.0,0.0
2,0.0,2.0,5.0,16.0,4.0,4.0,2.0,1.0,0.0,1.0,...,13.0,1.0,0.0,1.0,0.0,8.0,9.0,0.0,0.0,0.0
3,0.0,1.0,0.0,6.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,2.0,1.0,0.0,11.0,16.0,11.0,0.0,1.0
4,16.0,13.0,16.0,16.0,16.0,16.0,15.0,14.0,16.0,16.0,...,14.0,9.0,16.0,15.0,15.0,16.0,16.0,15.0,16.0,16.0

In [14]:
# get the testing targets
df_target_test = pd.read_csv("./files/test_labels.csv")
df_target_test.head()

   6.000000000000000000e+00
0                       6.0
1                       5.0
2                       6.0
3                       6.0
4                       6.0

## How we will approach creating the K-NN algorithm
- calculate the distance between the new data point to everyother data point
- see which distance was the smallest between compared to all the points
- classifiy the test with the target value of the data point with the smallest distance

### Using 1-NN 
- Here we only need to keep track of the smallest distance and use the target value  
  of the smallest distance to classify the data point as either 5 or 6.

In [ ]:
# where x_test is the test vector
# where x_train is the feature vector

def distance(x_test, x_train):

    

    return distance

In [ ]:
def one_NN():
    

    return